{% include "main.html" %}
</head>
<body>
	{% include "headerwarden.html" %}
	<div class="row">
		<div class="col-md-12" style="margin-top: 80px;text-align: center;">
			<h1>
				{{category.name}}
			</h1>

		</div>
	</div>
	<div class="row">
		<div class="col-md-8" style="text-align: center;">
			<h2>Comments</h2>
		</div5
	</div>
	<div class="row">
		<div class="col-md-9">
			
		</div>
	</div>
	<div class="row">
	{% for i in comments %}
		<div class="col-md-11 hello">
			<div class="myWell">
				{{ i.commentdata }}	
			</div>
		</div>
	{% endfor %}
	</div>
	<script src="{{url_for('static', filename='jquery.min.js')}}">
    </script> 
    <script src="{{url_for('static', filename='bootstrap.min.js')}}">
    </script>
</body>
</html>
