	{%include "main.html"%}
	</head>
	<body>
		{% include 'header.html' %}
		<div class="container content">
			<div class="row">
				<div class="col-md-12">
					<h1>Students Feedback</h1>	
				</div>
			</div>
			<div class="row myWell">
				<div class="col-md-12";">
					<a href="{{url_for('feedback',categories_id=1)}}">
						<div class="row">
							<div class="col-md-6">
								<h2>
									Mess Feedback
								</h2>
							</div>
							<div class="col-md-6">
								<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyBtvgVNT4gvtUKam8a8VlhJgBbHcwYMP7vz3dhok9k51E0i-JRQ">
							</div>
						</div>
						<!-- <div class="row">
							<div class="col-md-6">
								<span>Give your views about the Mess Facilities!</span>
							</div>
						</div>	 -->
					</a>
				</div>
			</div>
			<div class="row myWell">
				<div class="col-md-12">
					<a href="{{url_for('feedback',categories_id=2)}}">
						<div class="row">
							<div class="col-md-6">
								<h3>
									Hostel Facilities Feedback
								</h3>
							</div>
							<div class="col-md-6">
								<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfXajlsvoOQ7ml55B78fMF5H4EGLWQ_AMRRynUsL4jPDBOvtAh">
							</div>
						</div>
						<!-- <div class="row">
							<div class="col-md-6" style="text-align: center; color: black;">
								<span>Give your views about the Hostel Facilities!</span>
							</div>
						</div> -->	
					</a>
				</div>
			</div>
			
			<div class="row myWell">
				<div class="col-md-12">
					<a href="{{url_for('feedback',categories_id=3)}}">
						<div class="row">
							<div class="col-md-6">
								<h3>
									Warden and Other Staff Members Feedback
								</h3>
							</div>
							<div class="col-md-6">
								<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfXajlsvoOQ7ml55B78fMF5H4EGLWQ_AMRRynUsL4jPDBOvtAh">
							</div>
						</div>
						<!-- <div class="row">
							<div class="col-md-6">
								<span>Give your views about the Warden and Other Staff Members!</span>
							</div>
						</div>	 -->
					</a>
				</div>
			</div>
			<div class="row myWell" >
				<div class="col-md-12">
					<a href="{{url_for('feedback',categories_id=4)}}">
						<div class="row">
							<div class="col-md-6">
								<h3>
									Food and Water
								</h3>
							</div>
							<div class="col-md-6">
								<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfToJCmzMnwzt1n5LBlfb_CEgpazIVSUfuaZqbXSrn-FPZs0fQ">
							</div>
						</div>
	<!-- 					<div class="row">
							<div class="col-md-6">
								<span>Give your views about the Food and Water Facilities!</span>
							</div>
						</div>	 -->
					</a>
				</div>
			</div>
			<div class="row myWell">
				<div class="col-md-12">
					<a href="{{url_for('feedback',categories_id=5)}}">
						<div class="row">
							<div class="col-md-6">
								<h3>
									Medical Facilities Feedback
								</h3>
							</div>
							<div class="col-md-6">
								<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu9L7JDLXB3AyLOV0sKOk6ZnsHi3eA60jkZOySFpcsza5o3CxwYQ">
							</div>
						</div>
						<!-- <div class="row">
							<div class="col-md-6">
								<span>Give your views about the Medical Facilities in the Hostel!</span>
							</div>
						</div>	 -->
					</a>
				</div>
			</div>
		</div>
	</body>
	</html>
