{% include "main.html" %}
</head>
<body >
	{% include "header.html" %}
	<div class="container">
		<div class="row" style="margin-top: 200px;">
			<div class="col-md-8"></div>
			<div class="col-md-6 myWell" style="text-align: center; margin-left: 200px;">
				<h3>Mess Ratings: {{feedback[0].totalrating}}/{{feedback[0].rating1}}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 myWell" style="text-align: center; margin-left: 200px;">
				<h3>Hostel Ratings: {{feedback[1].totalrating}}/{{feedback[1].rating1}}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 myWell" style="text-align: center; margin-left: 200px;">
				<h3>Warden Ratings: {{feedback[2].totalrating}}/{{feedback[2].rating1}}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 myWell" style="text-align: center; margin-left: 200px;">
				<h3>Food Ratings: {{feedback[3].totalrating}}/{{feedback[3].rating1}}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 myWell" style="text-align: center; margin-left: 200px;">
				<h3>Medical Ratings: {{feedback[4].totalrating}}/{{feedback[4].rating1}}</h3>
			</div>
		</div>
	</div>
</body>
</html>